SUBSYSTEM=="tty", ATTRS{serial}=="FT9HDCKD", SYMLINK+="gripper_right", MODE="0666", ATTR{device/latency_timer}="1"
SUBSYSTEM=="tty", ATTRS{serial}=="FTAK892N", SYMLINK+="gripper_left", MODE="0666", ATTR{device/latency_timer}="1"
